<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-etudiant-heading" data-cy="EtudiantCreateUpdateHeading" jhiTranslate="agileProjectApp.etudiant.home.createOrEditLabel">
        Create or edit a Etudiant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="agileProjectApp.etudiant.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="agileProjectApp.etudiant.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="agileProjectApp.etudiant.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="agileProjectApp.etudiant.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apogee" jhiTranslate="agileProjectApp.etudiant.apogee">Apogee</label>
          <input type="text" class="form-control" name="apogee" id="field_apogee" data-cy="apogee" formControlName="apogee" />
          @if (editForm.get('apogee')!.invalid && (editForm.get('apogee')!.dirty || editForm.get('apogee')!.touched)) {
            <div>
              @if (editForm.get('apogee')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_niveau" jhiTranslate="agileProjectApp.etudiant.niveau">Niveau</label>
          <select class="form-control" name="niveau" formControlName="niveau" id="field_niveau" data-cy="niveau">
            <option [ngValue]="null">{{ 'agileProjectApp.Niveau.null' | translate }}</option>
            @for (niveau of niveauValues; track $index) {
              <option [value]="niveau">{{ 'agileProjectApp.Niveau.' + niveau | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_filere" jhiTranslate="agileProjectApp.etudiant.filere">Filere</label>
          <select class="form-control" name="filere" formControlName="filere" id="field_filere" data-cy="filere">
            <option [ngValue]="null">{{ 'agileProjectApp.Filiere.null' | translate }}</option>
            @for (filiere of filiereValues; track $index) {
              <option [value]="filiere">{{ 'agileProjectApp.Filiere.' + filiere | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_enrollmentDate" jhiTranslate="agileProjectApp.etudiant.enrollmentDate"
            >Enrollment Date</label
          >
          <div class="input-group">
            <input
              id="field_enrollmentDate"
              data-cy="enrollmentDate"
              type="text"
              class="form-control"
              name="enrollmentDate"
              ngbDatepicker
              #enrollmentDateDp="ngbDatepicker"
              formControlName="enrollmentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="enrollmentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_classe" jhiTranslate="agileProjectApp.etudiant.classe">Classe</label>
          <select
            class="form-control"
            id="field_classe"
            data-cy="classe"
            name="classe"
            formControlName="classe"
            [compareWith]="compareClasse"
          >
            <option [ngValue]="null"></option>
            @for (classeOption of classesSharedCollection; track $index) {
              <option [ngValue]="classeOption">{{ classeOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
