<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-matiere-heading" data-cy="MatiereCreateUpdateHeading" jhiTranslate="agileProjectApp.matiere.home.createOrEditLabel">
        Create or edit a Matiere
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="agileProjectApp.matiere.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_subjectName" jhiTranslate="agileProjectApp.matiere.subjectName">Subject Name</label>
          <input
            type="text"
            class="form-control"
            name="subjectName"
            id="field_subjectName"
            data-cy="subjectName"
            formControlName="subjectName"
          />
          @if (editForm.get('subjectName')!.invalid && (editForm.get('subjectName')!.dirty || editForm.get('subjectName')!.touched)) {
            <div>
              @if (editForm.get('subjectName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="agileProjectApp.matiere.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_professeur" jhiTranslate="agileProjectApp.matiere.professeur">Professeur</label>
          <select
            class="form-control"
            id="field_professeur"
            data-cy="professeur"
            name="professeur"
            formControlName="professeur"
            [compareWith]="compareProfesseur"
          >
            <option [ngValue]="null"></option>
            @for (professeurOption of professeursSharedCollection; track $index) {
              <option [ngValue]="professeurOption">{{ professeurOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
