<div>
  <h2 id="page-heading" data-cy="ProfesseurHeading">
    <span jhiTranslate="agileProjectApp.professeur.home.title">Professeurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="agileProjectApp.professeur.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-professeur"
        [routerLink]="['/professeur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="agileProjectApp.professeur.home.createLabel">Create a new Professeur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (professeurs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="agileProjectApp.professeur.home.notFound">No Professeurs found</span>
    </div>
  }

  @if (professeurs && professeurs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="agileProjectApp.professeur.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="agileProjectApp.professeur.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="agileProjectApp.professeur.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="agileProjectApp.professeur.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hireDate">
              <div class="d-flex">
                <span jhiTranslate="agileProjectApp.professeur.hireDate">Hire Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="classe.id">
              <div class="d-flex">
                <span jhiTranslate="agileProjectApp.professeur.classe">Classe</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (professeur of professeurs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/professeur', professeur.id, 'view']">{{ professeur.id }}</a>
              </td>
              <td>{{ professeur.firstName }}</td>
              <td>{{ professeur.lastName }}</td>
              <td>{{ professeur.email }}</td>
              <td>{{ professeur.phoneNumber }}</td>
              <td>{{ professeur.hireDate | formatMediumDate }}</td>
              <td>
                @for (classe of professeur.classes; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/classe', classe.id, 'view']">{{ classe.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/professeur', professeur.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/professeur', professeur.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(professeur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
